services:
  robot:
    image: mdnf1992/grpc-robot
    init: true
    restart: unless-stopped
    # pull_policy: always
    privileged: true
    ports:
      - "50052:50051"
    volumes:
      - "/dev:/dev"

  msensor:
    image: mdnf1992/msensor
    init: true
    restart: unless-stopped
    pull_policy: always
    privileged: true
    command: ["all_publisher"]
    environment:
      CAMERA_PIPELINE: "libcamerasrc ! video/x-raw,format=BGR,width=1536,height=864,framerate=10/1 ! videoconvert ! appsink max-buffers=1 drop=true sync=false"
    ports:
      - "50051:50051"
    volumes:
      - "/dev:/dev"
      - "/run/udev:/run/udev"
